{
  "openapi": "3.0.1",
  "info": {
    "title": "ArmorCode API",
    "description": "Welcome to the ArmorCode API documentation.\n\nArmorCode is an Application Security Posture Management (ASPM) platform that helps organizations manage their application security program comprehensively.\n\n**Authentication**: All endpoints require Bearer token authentication. Click the 'Authorize' button and provide your API token to get started.\n\n**Getting Started**: Browse the available endpoints organized by functional areas, or use the search functionality to find specific operations.\n\n**Rate Limiting**: API requests are subject to rate limiting. Please refer to response headers for current rate limit status.",
    "contact": {
      "name": "ArmorCode Support",
      "url": "https://www.armorcode.com/support",
      "email": "support@armorcode.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://www.armorcode.com/terms"
    },
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://app.armorcode.com",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "Token-Auth": []
    }
  ],
  "tags": [
    {
      "name": "Findings - Unresolved Timeline",
      "description": "Async timeline for unresolved findings"
    },
    {
      "name": "User",
      "description": "V2 APIs for user team/role assignment lifecycle"
    },
    {
      "name": "Findings Upload",
      "description": "This controller helps us to upload the findings using csv"
    },
    {
      "name": "Attachment",
      "description": " Provides information about attachment related information"
    },
    {
      "name": "Subgroups",
      "description": "APIs to manage subgroups for organizing security tool integrations and scan configurations within groups"
    },
    {
      "name": "Widget Export",
      "description": "APIs for exporting dashboard widget data"
    },
    {
      "name": "AI Assistant",
      "description": "Provides assistance for CISO's Queries"
    },
    {
      "name": "Regex",
      "description": "APIs to validate regex"
    },
    {
      "name": "Findings",
      "description": "Bulk finding tag update APIs"
    },
    {
      "name": "Exceptions",
      "description": "APIs to handle and manage exceptions"
    },
    {
      "name": "Business Unit",
      "description": "APIs to create and update business unit records"
    },
    {
      "name": "Wiz Tool Controller",
      "description": "Provides functionalities to read and configure properties related to Wiz security tool"
    },
    {
      "name": "Release Management",
      "description": "APIs for release management"
    },
    {
      "name": "Findings",
      "description": "APIs to access all information about findings"
    },
    {
      "name": "Findings",
      "description": "Apis For Finding Updates"
    },
    {
      "name": "Tools v2",
      "description": "APIs to get details from tools"
    },
    {
      "name": "onboarding",
      "description": "APIs to access/modify Auto-Onboarding actions"
    },
    {
      "name": "Pentests",
      "description": "APIs to manage all operations related to assessment reports"
    },
    {
      "name": "SSO Group Role Mapping V2",
      "description": "V2 CRUD APIs for SSO group-role mappings"
    },
    {
      "name": "Finding Custom Fields",
      "description": " Provides information about finding(s) custom fields"
    },
    {
      "name": "Findings",
      "description": " Provides information about finding(s) related information"
    },
    {
      "name": "Tenant AllowedIP Controller",
      "description": "Apis For CRUD operations on Allowed IPs"
    },
    {
      "name": "User",
      "description": "APIs to manage user operations"
    },
    {
      "name": "User",
      "description": "APIs for user profile management, permissions, business unit selection, and authentication-related operations"
    },
    {
      "name": "Customer Usage Controller",
      "description": "Provides information about product(s)"
    },
    {
      "name": "Jobs",
      "description": "Async job status APIs"
    },
    {
      "name": "Anya Agent Controller",
      "description": "APIs for CRUD operations on Anya Agents"
    },
    {
      "name": "Runbook",
      "description": "APIs to manage operations related to runbook, including creation, updates, and on-demand execution"
    },
    {
      "name": "Team V2",
      "description": "V2 APIs for team CRUD, members, and queries"
    },
    {
      "name": "Alerts",
      "description": "APIs for alert management that allow users to create, list, and update alerts within the system"
    },
    {
      "name": "AQL",
      "description": "AQL metadata and query operations for findings and assets"
    },
    {
      "name": "Tool Configuration Notes Controller",
      "description": "Provides functionalities to access Tool Configuration Notes"
    },
    {
      "name": "Coverity Tool Controller",
      "description": "Provides functionalities to read and configure properties related to Coverity security tool"
    },
    {
      "name": "Correlated Findings",
      "description": " Provides information about correlation finding(s) related information"
    },
    {
      "name": "Team",
      "description": "APIs to access all information regarding team management including creation, updates and more"
    },
    {
      "name": "Product Teams V2",
      "description": "V2 APIs for teams associated with a product"
    },
    {
      "name": "NL to AQL",
      "description": "Natural language to AQL v2 translation"
    },
    {
      "name": "Audit Log (Deprecated)",
      "description": "Deprecated. Use /api/audit-log endpoints instead."
    },
    {
      "name": "Global Filter Controller",
      "description": "Set/Get Filter Data"
    },
    {
      "name": "Assets",
      "description": "APIs to manage operations related to Assets"
    },
    {
      "name": "Audit Log",
      "description": "Elasticsearch-backed APIs for audit log management"
    },
    {
      "name": "ConnectAll Integration",
      "description": "APIs for integrating with ConnectAll, a third-party value stream integration platform that provides multi-tool synchronization, workflow automation, and bidirectional ticket synchronization between ArmorCode and external ticketing systems."
    },
    {
      "name": "Pentests",
      "description": "APIs to manage all operations related to assessment report templates"
    },
    {
      "name": "Engagements",
      "description": "APIs to manage security engagements (penetration tests, code reviews, threat models, compliance campaigns)"
    },
    {
      "name": "Scan Upload",
      "description": "APIs for uploading security scan files from external tools to ArmorCode. Supports direct upload or pre-signed URL generation for large files. Used by CI/CD pipelines, scanning tools, and integrations to push scan results for processing."
    },
    {
      "name": "Ticket",
      "description": "APIs to manage JIRA tickets"
    },
    {
      "name": "SSO Configuration Controller",
      "description": "Apis For CRUD operations on sso configuration"
    },
    {
      "name": "SLA Template Settings",
      "description": "SLA V2 Template Configuration APIs"
    },
    {
      "name": "Accessible Teams V2",
      "description": "V2 APIs for user-scoped team access"
    },
    {
      "name": "Groups",
      "description": "APIs to manage groups for organizing security findings, vulnerability remediation workflows, and ownership tracking"
    },
    {
      "name": "HackerOne Tool Controller",
      "description": "Provides functionalities to read and configure properties related to HackerOne security tool"
    },
    {
      "name": "Findings Remediation",
      "description": "Provides information related to remediation of finding(s)"
    },
    {
      "name": "Generic Tools",
      "description": "APIs to manage ArmorCode groups, subgroups, and environments, allowing integration with pull-based tools"
    },
    {
      "name": "Okta Configuration Controller",
      "description": "Apis For CRUD operations on okta configuration"
    },
    {
      "name": "Appsec Tools Status",
      "description": "APIs for AppSec tool status by subgroup"
    }
  ],
  "paths": {
    "/v2/scan": {
      "put": {
        "tags": [
          "scan-upload-controller-v-2"
        ],
        "operationId": "getScanUploadUrl",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScanUploadRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ScanUploadResponseV2"
                }
              }
            }
          }
        }
      }
    },
    "/user/update/user": {
      "put": {
        "tags": [
          "User"
        ],
        "summary": "Update existing user information",
        "description": "Updates an existing user's profile information, role assignments, and team associations.\nOnly users with appropriate permissions can update other users.\n\n**Business Context**: Used for modifying user access levels, team assignments, or profile information\n\n**Restrictions**:\n- Users cannot update their own roles\n- Cannot assign roles superior to your own\n- Account admins are required to update other account admins\n\n**Use Cases**:\n1. Update user profile information\n2. Modify user role and permission assignments\n3. Adjust user preferences and settings\n\n**Important**:\n- Results scoped by user's business unit and team access\n- Only specified fields are updated; unspecified fields remain unchanged",
        "operationId": "updateUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateUserRequest"
              },
              "examples": {
                "Update User Role": {
                  "summary": "Change user role assignment",
                  "description": "Update user from USER to ADMIN role",
                  "value": {
                    "id": 999999,
                    "email": "user@example.com",
                    "firstName": "John",
                    "lastName": "Doe",
                    "role": "ADMIN",
                    "businessUnitIds": [
                      222222
                    ],
                    "teamIds": [
                      333333,
                      333334
                    ]
                  }
                },
                "Update User Teams": {
                  "summary": "Modify team assignments",
                  "description": "Add user to additional teams",
                  "value": {
                    "id": 999999,
                    "email": "user@example.com",
                    "firstName": "John",
                    "lastName": "Doe",
                    "role": "USER",
                    "businessUnitIds": [
                      222222
                    ],
                    "teamIds": [
                      333333,
                      333334,
                      333335
                    ]
                  }
                },
                "Update User Profile": {
                  "summary": "Update user profile information",
                  "description": "Change user name and contact details",
                  "value": {
                    "id": 999999,
                    "email": "user@example.com",
                    "firstName": "Jane",
                    "lastName": "Smith",
                    "role": "USER",
                    "businessUnitIds": [
                      222222
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": "Forbidden - Insufficient permissions to update user",
            "$ref": "#/components/responses/ForbiddenError"
          },
          "200": {
            "description": "User updated successfully"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "401": {
            "description": "Unauthorized - Missing or invalid API token",
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "400": {
            "description": "Bad Request - Invalid user data or validation failure",
            "content": {
              "application/json": {
                "examples": {
                  "Self update attempt": {
                    "description": "Self update attempt",
                    "value": {
                      "error": "Bad Request",
                      "message": "Can Not Add/Update Him/Her Self",
                      "timestamp": "2024-01-15T10:30:45.123Z"
                    }
                  },
                  "Superior role assignment": {
                    "description": "Superior role assignment",
                    "value": {
                      "error": "Bad Request",
                      "message": "User can not assign or update role that is superior",
                      "timestamp": "2024-01-15T10:30:45.123Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not Found - User with specified ID does not exist",
            "$ref": "#/components/responses/NotFoundError"
          }
        }
      }
    },
    "/user/tools/slack/{id}": {
      "get": {
        "tags": [
          "slack-controller"
        ],
        "operationId": "getObject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SlackIntegrationConfigResponseDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "slack-controller"
        ],
        "operationId": "updateMapping",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SlackMappingRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SlackMappingJpaDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "slack-controller"
        ],
        "operationId": "deleteConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/tools/scheduler/{configId}": {
      "put": {
        "tags": [
          "tools-controller"
        ],
        "operationId": "updateToolScheduler",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolSchedulerDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tools-controller"
        ],
        "operationId": "updateToolScheduler_1",
        "parameters": [
          {
            "name": "configId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tools/msteams/{id}": {
      "put": {
        "tags": [
          "ms-teams-controller"
        ],
        "operationId": "updateConfig",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddTeamsDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/MsTeamsJpaDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ms-teams-controller"
        ],
        "operationId": "deleteConfig_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/tools/hackerone/finding-status-mapping-toggle": {
      "get": {
        "tags": [
          "HackerOne Tool Controller"
        ],
        "operationId": "getFindingStatusMappingToggle",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "HackerOne Tool Controller"
        ],
        "operationId": "setFindingStatusMappingToggle",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonNode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tools/github/enterprise/{id}": {
      "put": {
        "tags": [
          "github-tool-controller"
        ],
        "operationId": "updateGithubEnterprise",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateGitEnterpriseDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GithubEnterpriseDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "github-tool-controller"
        ],
        "operationId": "deleteGithubEnterprise",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tools/git/token/{id}": {
      "put": {
        "tags": [
          "git-tool-controller"
        ],
        "operationId": "updateGitToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitRepositoryJpaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GitRepositoryJpaDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "git-tool-controller"
        ],
        "operationId": "deleteToken",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tools/git/teams/ignore/{id}": {
      "put": {
        "tags": [
          "git-tool-controller"
        ],
        "operationId": "updateTeamIgnore",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ignore",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/tools/git/repo": {
      "put": {
        "tags": [
          "git-tool-controller"
        ],
        "operationId": "addProductMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitProductMappingRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GitRepositoryJpaDto"
                }
              }
            }
          }
        }
      }
    },
    "/user/tools/git/repo/ignore/{id}": {
      "put": {
        "tags": [
          "git-tool-controller"
        ],
        "operationId": "updateRepoIgnore",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ignore",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "note",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/tools/git/overPrivilegedUser": {
      "put": {
        "tags": [
          "git-tool-controller"
        ],
        "operationId": "updateOverPrivilegedUser",
        "parameters": [
          {
            "name": "ignore",
            "in": "query",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tools/git/installation/{installationId}/config": {
      "put": {
        "tags": [
          "git-tool-controller"
        ],
        "operationId": "updateGitInstallationConfig",
        "parameters": [
          {
            "name": "installationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitInstallationConfigRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseDtoGitInstallationResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/user/tools/git/gitInstallation/{installationId}/token": {
      "put": {
        "tags": [
          "git-tool-controller"
        ],
        "operationId": "updateGitInstallationToken",
        "parameters": [
          {
            "name": "installationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitTokenUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tools/generic/configurations": {
      "put": {
        "tags": [
          "Generic Tools"
        ],
        "operationId": "updateToolConfigurations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JsonNode"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Generic Tools"
        ],
        "operationId": "createToolConfigurations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/JsonNode"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Generic Tools"
        ],
        "operationId": "deleteConfiguration",
        "parameters": [
          {
            "name": "tool_name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          },
          {
            "name": "deleteAllData",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tools/custom/configurations/{id}": {
      "get": {
        "tags": [
          "custom-tools-controller"
        ],
        "operationId": "getCustomToolMapping",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomToolMappingDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "custom-tools-controller"
        ],
        "operationId": "updateCustomToolMapping",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomToolMappingDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CustomToolMappingDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "custom-tools-controller"
        ],
        "operationId": "deleteCustomToolMapping",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tools/bitbucket/quick-install/{id}": {
      "put": {
        "tags": [
          "bit-bucket-tool-controller"
        ],
        "operationId": "updateInstallation",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GitInstallationJpaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/GitInstallationResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/user/tools/appsec-tools/discover": {
      "put": {
        "tags": [
          "tools-controller"
        ],
        "operationId": "discoverInstalledTools",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseDtoSetString"
                }
              }
            }
          }
        }
      }
    },
    "/user/tool/assets": {
      "get": {
        "tags": [
          "tool-asset-controller"
        ],
        "operationId": "getAssets",
        "parameters": [
          {
            "name": "toolAssetFilterReq",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ToolAssetFilterReq"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageToolAssetDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "tool-asset-controller"
        ],
        "operationId": "updateToolAssetMapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolAssetDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ToolAssetDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "tool-asset-controller"
        ],
        "operationId": "getAssetsWithTagFilter",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolAssetFilterReq"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageToolAssetDto"
                }
              }
            }
          }
        }
      }
    },
    "/user/tool/assets/cmdb/configs": {
      "put": {
        "tags": [
          "tool-asset-controller"
        ],
        "operationId": "updateToolAssetConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolAssetConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseDtoToolAssetConfig"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "tool-asset-controller"
        ],
        "operationId": "saveToolAssetConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolAssetConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/BaseResponseDtoToolAssetConfig"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "tool-asset-controller"
        ],
        "operationId": "deleteToolAssetConfig",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolAssetConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tickets/jira": {
      "get": {
        "tags": [
          "Ticket"
        ],
        "operationId": "getFindingTickets",
        "parameters": [
          {
            "name": "findingTicketListRequest",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/FindingTicketListRequest"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Pageable"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageFindingTicketSummary"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Ticket"
        ],
        "operationId": "updateTicket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTicketRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FindingTicketSummary"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Ticket"
        ],
        "operationId": "createTicket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketCreateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/FindingTicketJpaDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Ticket"
        ],
        "operationId": "detachTicket",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketDetachRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tickets/jira/ticketUnifiedTemplate/{ticketUnifiedTemplateId}": {
      "put": {
        "tags": [
          "Ticket"
        ],
        "operationId": "updateTicketUnifiedTemplate",
        "parameters": [
          {
            "name": "ticketUnifiedTemplateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketUnifiedTemplateJpaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Ticket"
        ],
        "operationId": "deleteTicketUnifiedTemplate",
        "parameters": [
          {
            "name": "ticketUnifiedTemplateId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tickets/jira/configuration/{id}": {
      "get": {
        "tags": [
          "Ticket"
        ],
        "operationId": "getJiraConfigurationById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JiraConfigurationDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Ticket"
        ],
        "summary": "Update ticket configuration",
        "description": "Updates an existing ticket integration configuration by its ID.",
        "operationId": "updateJiraConfiguration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JiraConfigurationUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JiraConfigurationDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Ticket"
        ],
        "summary": "Delete ticket configuration",
        "description": "Deletes a ticket integration configuration by its ID.",
        "operationId": "deleteJiraConfiguration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tickets/jira/configuration/login/{ticketSystem}/{id}": {
      "get": {
        "tags": [
          "Ticket"
        ],
        "operationId": "getTicketLoginConfiguration",
        "parameters": [
          {
            "name": "ticketSystem",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JIRA",
                "AZURE_BOARD",
                "SERVICE_NOW",
                "FRESHSERVICE",
                "GITHUB_ISSUES",
                "PAGERDUTY",
                "SHORTCUT",
                "GITLAB_ISSUES",
                "RALLY",
                "VERSION_ONE",
                "LEAN_IX",
                "DATADOG",
                "CONNECT_ALL",
                "ARMORCODE_TICKETING_SYSTEM",
                "ZENDESK",
                "ASANA",
                "ARCHER"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TicketLoginConfigurationListResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Ticket"
        ],
        "operationId": "createTicketLoginConfiguration",
        "parameters": [
          {
            "name": "ticketSystem",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JIRA",
                "AZURE_BOARD",
                "SERVICE_NOW",
                "FRESHSERVICE",
                "GITHUB_ISSUES",
                "PAGERDUTY",
                "SHORTCUT",
                "GITLAB_ISSUES",
                "RALLY",
                "VERSION_ONE",
                "LEAN_IX",
                "DATADOG",
                "CONNECT_ALL",
                "ARMORCODE_TICKETING_SYSTEM",
                "ZENDESK",
                "ASANA",
                "ARCHER"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TicketLoginConfigurationUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TicketLoginConfigCreateResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Ticket"
        ],
        "operationId": "deleteTicketLoginConfiguration",
        "parameters": [
          {
            "name": "ticketSystem",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "JIRA",
                "AZURE_BOARD",
                "SERVICE_NOW",
                "FRESHSERVICE",
                "GITHUB_ISSUES",
                "PAGERDUTY",
                "SHORTCUT",
                "GITLAB_ISSUES",
                "RALLY",
                "VERSION_ONE",
                "LEAN_IX",
                "DATADOG",
                "CONNECT_ALL",
                "ARMORCODE_TICKETING_SYSTEM",
                "ZENDESK",
                "ASANA",
                "ARCHER"
              ]
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/tickets/jira/configuration/enable/{id}": {
      "put": {
        "tags": [
          "Ticket"
        ],
        "operationId": "updateJiraConfigurationStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JiraConfigurationStatusUpdateDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/JiraConfigurationDto"
                }
              }
            }
          }
        }
      }
    },
    "/user/sub-product-environment-type": {
      "get": {
        "tags": [
          "Subgroups"
        ],
        "operationId": "getAllEnvironmentType",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SubProductEnvironmentResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Subgroups"
        ],
        "operationId": "update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubProductEnvironmentUpdateReqDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubProductEnvironmentResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Subgroups"
        ],
        "operationId": "postEnvironment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubProductEnvironmentReqDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/SubProductEnvironmentResponseDto"
                }
              }
            }
          }
        }
      }
    },
    "/user/route53/records/{id}": {
      "put": {
        "tags": [
          "route-53-controller"
        ],
        "operationId": "updateRouteRecord",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Route53RecordsJpaDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Route53RecordsJpaDto"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "route-53-controller"
        ],
        "operationId": "deleteRouteRecord",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user/project": {
      "get": {
        "tags": [
          "Engagements"
        ],
        "summary": "List all accessible engagements",
        "description": "Retrieves a list of all engagements accessible to the current user within their business unit.\n\n**Business Context**: Primary endpoint for retrieving the engagement inventory. Engagements are scoped security activities (penetration tests, code reviews, threat models, compliance campaigns) used to organize findings, track remediation workflows, and manage ownership across teams.\n\n**Required Permissions**: Read Engagement permission required. Results scoped by business unit access.\n\n**Response Structure**:\nReturns a flat array of engagement objects (not paginated) including:\n- **Basic Info**: id, name, description, type, category\n- **Dates**: createdAt, updatedAt, startDate, endDate\n- **Status**: Not Started, Blocked, Cancelled, Completed, In Progress, On Hold, Waiting for Resource\n- **Ownership**: projectOwner, securityOwner, engineeringOwner, devOwner, businessOwner, supportOwner, complianceOwner\n- **Metadata**: tags (array), notes, documents (array)\n- **Settings**: recurring (boolean), createTicket (boolean)\n- **Repository**: repoLink, versionNumber\n\n**Engagement Types**:\n- Threat Modeling\n- Code Review\n- Pen Testing\n- On-demand Testing\n- Security Testing\n- Compliance\n- Debt Reduction Campaign\n\n**Use Cases**:\n1. Populate engagement selection dropdowns for assigning findings\n2. Display all engagements with current status on dashboards\n3. Identify engagement owners for notification workflows\n4. Generate engagement inventory reports\n5. Retrieve engagement IDs for bulk updates or exports\n\n**Important**:\n- Returns all accessible engagements in a single response (no pagination)\n- For large engagement lists, consider client-side filtering or caching\n- Engagements without assigned owners have null values for owner fields\n- Deleted engagements are not included in the response",
        "operationId": "getAllProject",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProjectResponseDto"
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Engagements"
        ],
        "summary": "Update an existing engagement",
        "description": "Updates an existing engagement with new information including metadata, ownership, and configuration settings.\n\n**Business Context**: Core endpoint for engagement lifecycle management. Used to update engagement details as they evolve, assign or reassign ownership, update status, and maintain metadata. Essential for keeping engagement information current across security workflows.\n\n**Required Permissions**: Update Engagement permission required. Results scoped by business unit access.\n\n**Updatable Fields**:\n- **Identification**: name (2-50 chars), description\n- **Classification**: type (Pen Testing, Code Review, Threat Modeling, etc.), category, status\n- **Schedule**: startDate, endDate, recurring (boolean)\n- **Repository**: repoLink, versionNumber\n- **Ownership**: projectOwner, securityOwner, engineeringOwner, devOwner, businessOwner, supportOwner, complianceOwner (UserJpaDto objects with id)\n- **Metadata**: tags (array of strings), notes (max 10,000 chars), documents (array)\n- **Settings**: createTicket (boolean for automatic ticket creation)\n\n**Validation Rules**:\n- Name must match pattern: alphanumeric with spaces and special characters (2-50 chars)\n- Engagement name must be unique within business unit\n- Notes maximum 10,000 characters\n- Owner fields require valid user IDs from the same tenant\n\n**Use Cases**:\n1. Reassign engagement ownership to new security or engineering owners\n2. Update engagement status as it progresses through its lifecycle\n3. Add tags for categorization and filtering\n4. Set start and end dates for time-bound engagements\n5. Update repository link and version tracking\n\n**Important**:\n- Engagement ID cannot be changed (provided only for identification)\n- Only provided fields are updated; omitted optional fields remain unchanged\n- Name changes must maintain uniqueness within business unit\n- Status changes may trigger workflow notifications to stakeholders",
        "operationId": "update_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectUpdateReqDto"
              },
              "examples": {
                "Update Project Ownership": {
                  "summary": "Reassign project to new security and engineering owners",
                  "description": "Common use case when team members change or responsibilities shift",
                  "value": {
                    "id": 999999,
                    "name": "Customer Portal - Web Application",
                    "description": "Main customer-facing web application for account management",
                    "securityOwner": {
                      "id": 100007
                    },
                    "engineeringOwner": {
                      "id": 100008
                    }
                  }
                },
                "Update Project Status and Tags": {
                  "summary": "Mark project as archived and update categorization tags",
                  "description": "Used when decommissioning projects or reorganizing project taxonomy",
                  "value": {
                    "id": 999999,
                    "name": "Legacy API Gateway",
                    "description": "Deprecated API gateway being phased out",
                    "status": "Archived",
                    "tags": [
                      "deprecated",
                      "legacy",
                      "scheduled-removal"
                    ]
                  }
                },
                "Update Repository Information": {
                  "summary": "Update Git repository link and version tracking",
                  "description": "Keep repository information current as projects evolve",
                  "value": {
                    "id": 999999,
                    "name": "Customer Portal - Web Application",
                    "description": "Main customer-facing web application for account management",
                    "repoLink": "https://github.com/company/customer-portal-v3",
                    "versionNumber": "v3.0.0"
                  }
                },
                "Update Project Schedule": {
                  "summary": "Set start and end dates for time-bound project",
                  "description": "Define project timeline for temporary or phased initiatives",
                  "value": {
                    "id": 999999,
                    "name": "Q1 2024 Security Hardening",
                    "description": "Quarterly security enhancement initiative",
                    "startDate": "2024-01-01T00:00:00Z",
                    "endDate": "2024-03-31T23:59:59Z",
                    "recurring": false
                  }
                },
                "Comprehensive Update": {
                  "summary": "Update multiple project attributes in single request",
                  "description": "Full project update with ownership, metadata, and configuration changes",
                  "value": {
                    "id": 999999,
                    "name": "Customer Portal - Web Application",
                    "description": "Main customer-facing web application for account management and billing",
                    "type": "Web Application",
                    "category": "Production",
                    "status": "Active",
                    "createTicket": true,
                    "repoLink": "https://github.com/company/customer-portal",
                    "versionNumber": "v2.6.0",
                    "tags": [
                      "web",
                      "customer-facing",
                      "high-priority",
                      "pci-dss",
                      "soc2"
                    ],
                    "notes": "Critical customer-facing application. All findings require immediate triage. PCI-DSS and SOC2 compliant.",
                    "projectOwner": {
                      "id": 100001
                    },
                    "securityOwner": {
                      "id": 100002
                    },
                    "engineeringOwner": {
                      "id": 100003
                    },
                    "complianceOwner": {
                      "id": 100004
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Engagements"
        ],
        "summary": "Create a new engagement",
        "description": "Creates a new security engagement within the current business unit.\n\n**Business Context**: Engagements are scoped security activities such as penetration tests, code reviews, threat models, and compliance campaigns. They organize findings, track ownership, and manage remediation workflows for specific security initiatives.\n\n**Required Permissions**: Create Engagement permission required. Results scoped by business unit access.\n\n**Usage Flow**:\n1. Define engagement name and type (Pen Testing, Code Review, Threat Modeling, etc.)\n2. Set description and schedule (start date, end date)\n3. Assign ownership (security owner, engineering owner, business owner, etc.)\n4. Associate with product and sub-product scope\n5. Optionally configure SLA templates, risk scoring, and tags\n\n**Engagement Types**:\n- Threat Modeling\n- Code Review\n- Pen Testing\n- On-demand Testing\n- Security Testing\n- Compliance\n- Debt Reduction Campaign\n\n**Use Cases**:\n1. Create a new penetration test engagement for an application\n2. Set up a code review engagement with team ownership\n3. Establish a compliance campaign to track regulatory findings\n4. Create a debt reduction campaign to address accumulated vulnerabilities\n\n**Important**:\n- Engagement names must be unique within the business unit\n- Results scoped by user's business unit and team access",
        "operationId": "postProject",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectReqDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "400": {
            "description": "Invalid engagement data",
            "content": {
              "application/json": {
                "examples": {
                  "Duplicate Name": {
                    "description": "Duplicate Name",
                    "value": {
                      "error": "VALIDATION_ERROR",
                      "message": "Project with name 'Mobile App - iOS Production' already exists",
                      "field": "name"
                    }
                  },
                  "Invalid Product": {
                    "description": "Invalid Product",
                    "value": {
                      "error": "VALIDATION_ERROR",
                      "message": "Product ID 999 does not exist or is not accessible",
                      "field": "productId"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "200": {
            "description": "Engagement created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponseDto"
                },
                "examples": {
                  "Created Project": {
                    "summary": "Newly created project response",
                    "description": "Created Project",
                    "value": {
                      "id": 10235,
                      "name": "Mobile App - iOS Production",
                      "description": "iOS mobile application for customer portal",
                      "businessUnit": {
                        "id": 50,
                        "name": "Engineering"
                      },
                      "product": {
                        "id": 101,
                        "name": "Mobile Platform"
                      },
                      "slaTemplateId": 6,
                      "assetScore": 0.0,
                      "riskLevel": "NOT_ASSESSED",
                      "tags": [
                        "mobile",
                        "ios",
                        "production"
                      ],
                      "createdAt": "2024-11-04T12:00:00Z",
                      "updatedAt": "2024-11-04T12:00:00Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/product": {
      "get": {
        "tags": [
          "Groups"
        ],
        "summary": "List all accessible groups",
        "description": "Retrieves a list of all groups accessible to the current user within their business unit.\n\n**Business Context**: Groups are the primary organizational unit for grouping security findings and managing vulnerability remediation workflows. This endpoint returns full group details including ownership, security attributes, and associated subgroups.\n\n**Required Permissions**: Read Group permission required. Results scoped by business unit access.\n\n**Response Structure**:\nReturns a flat array of group objects (not paginated) including:\n- **Identity**: id, name, description, type, status, versionNumber, classType, tier\n- **Security Attributes**: publicCloud, internetFacing, complianceRequired, confidentialityRequirement, confidentiality, availabilityRequirement, availability, attackingVector\n- **Ownership**: businessOwner, securityOwner, supportOwner, engineeringOwner, complianceOwner\n- **Associations**: teamDto, subProductJpaDtos (subgroups), dependentSubProductJpaDtos, tags, artifacts\n- **Risk**: riskScore, assetScore, riskCalculationType\n- **Audit**: createdAt, createdBy, updatedAt, updatedBy\n\n**Use Cases**:\n1. Populate group selection dropdowns for assigning findings\n2. Display all groups with current status on dashboards\n3. Identify group owners for notification workflows\n4. Generate group inventory reports\n\n**Important**:\n- This endpoint is deprecated in favor of the Elasticsearch-based endpoints (`POST /user/product/elastic/paged`)\n- Returns all accessible groups in a single response (no pagination)\n- For large group lists, use the paginated Elasticsearch endpoint instead",
        "operationId": "getAllProduct",
        "parameters": [
          {
            "name": "disableRiscScore",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductResponseDto"
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "put": {
        "tags": [
          "Groups"
        ],
        "summary": "Update an existing group",
        "description": "Updates an existing group with new information including metadata, ownership, security attributes, and configuration.\n\n**Business Context**: Core endpoint for group lifecycle management. Used to update group details, assign or reassign ownership, update security classification, and manage tags and metadata.\n\n**Required Permissions**: Update Group permission required. Results scoped by business unit access.\n\n**Updatable Fields**:\n- **Identity**: name (2-228 chars, required), description, type, status, versionNumber (max 128 chars), classType, tier\n- **Security Attributes**: publicCloud, internetFacing, complianceRequired, confidentialityRequirement (NotDefined, High, Medium, Low), confidentiality, availabilityRequirement, availability, attackingVector (Network, Local, Adjacent, Physical)\n- **Ownership**: businessOwner, securityOwner, supportOwner, engineeringOwner, complianceOwner (UserJpaDto objects with id)\n- **Associations**: teamDto, tags (array of strings), slaTemplateId, artifacts\n- **Settings**: confidentialityOptions\n\n**Validation Rules**:\n- Group name must be between 2-228 characters\n- Group name must be unique within business unit\n- Version number maximum 128 characters\n- Owner fields require valid user IDs from the same tenant\n- id field is required and must be positive\n\n**Use Cases**:\n1. Reassign group ownership to new security or engineering owners\n2. Update security classification attributes\n3. Add or modify tags for categorization and filtering\n4. Update SLA template assignment\n5. Change group type or tier\n\n**Important**:\n- The id field is required to identify which group to update\n- Only provided fields are updated; omitted optional fields remain unchanged\n- Name changes must maintain uniqueness within business unit",
        "operationId": "update_2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductUpdateReqDto"
              },
              "examples": {
                "Update group metadata": {
                  "summary": "Update name, description, and tags",
                  "value": {
                    "id": 999999,
                    "name": "Payment Service v3",
                    "description": "Updated payment processing application",
                    "status": "Active",
                    "tags": [
                      "business-impact:critical",
                      "compliance:true",
                      "data-sensitivity:high",
                      "team:platform"
                    ]
                  }
                },
                "Update ownership": {
                  "summary": "Reassign group owners",
                  "value": {
                    "id": 999999,
                    "name": "Payment Service",
                    "securityOwner": {
                      "id": 111111
                    },
                    "engineeringOwner": {
                      "id": 111111
                    },
                    "businessOwner": {
                      "id": 111111
                    }
                  }
                },
                "Update security classification": {
                  "summary": "Change security attributes",
                  "value": {
                    "id": 999999,
                    "name": "Payment Service",
                    "publicCloud": true,
                    "internetFacing": true,
                    "complianceRequired": true,
                    "confidentialityRequirement": "High",
                    "availabilityRequirement": "High",
                    "attackingVector": "Network"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponseDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Groups"
        ],
        "summary": "Create a new group",
        "description": "Creates a new group within the current business unit.\n\n**Business Context**: Groups are the primary organizational unit for grouping security findings and managing vulnerability remediation workflows. Each group can have ownership assignments, security classification attributes, and associated subgroups.\n\n**Required Permissions**: Create Group permission required. Results scoped by business unit access.\n\n**Usage Flow**:\n1. Define group name (required, 2-228 chars) and type\n2. Set description and security classification (publicCloud, internetFacing, complianceRequired)\n3. Configure risk attributes (confidentialityRequirement, availabilityRequirement, attackingVector)\n4. Assign ownership (security, engineering, business, compliance, support owners)\n5. Optionally set tier, tags, SLA template, and team association\n\n**Group Types** (from GET /user/product-type):\n- Web Application\n- Mobile Application\n- Database Applications\n- Infrastructure\n- IoT Application\n- Custom types defined by organization\n\n**Use Cases**:\n1. Create a group for a new application security program\n2. Set up a group with security classification for compliance tracking\n3. Establish a group with team ownership for vulnerability management\n4. Create a group during tool onboarding to map imported findings\n\n**Important**:\n- Group names must be unique within the business unit\n- Name is the only required field; all other fields are optional\n- Boolean fields (publicCloud, internetFacing, complianceRequired) default to false",
        "operationId": "postProduct",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductReqDto"
              },
              "examples": {
                "Minimal group creation": {
                  "summary": "Create group with name only",
                  "description": "Minimum required fields to create a group",
                  "value": {
                    "name": "Payment Service"
                  }
                },
                "Full group creation": {
                  "summary": "Create group with all common fields",
                  "description": "Group with type, security attributes, and ownership",
                  "value": {
                    "name": "Payment Service",
                    "description": "Core payment processing application",
                    "type": {
                      "id": 159
                    },
                    "status": "Active",
                    "versionNumber": "2.1",
                    "classType": "Software only",
                    "tier": "1",
                    "publicCloud": true,
                    "internetFacing": true,
                    "complianceRequired": true,
                    "confidentialityRequirement": "High",
                    "availabilityRequirement": "High",
                    "availability": "High",
                    "attackingVector": "Network",
                    "confidentiality": "High",
                    "tags": [
                      "business-impact:critical",
                      "compliance:true",
                      "data-sensitivity:high"
                    ],
                    "securityOwner": {
                      "id": 111111
                    },
                    "engineeringOwner": {
                      "id": 111111
                    },
                    "businessOwner": {
                      "id": 111111
                    },
                    "teamDto": {
                      "id": 111111
                    },
                    "slaTemplateId": 111111
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "200": {
            "description": "Group created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductResponseDto"
                },
                "examples": {
                  "Created product": {
                    "summary": "Newly created product with generated ID",
                    "description": "Created product",
                    "value": {
                      "id": 1002,
                      "name": "Payment Gateway Service",
                      "description": "Core payment processing microservice",
                      "businessUnit": {
                        "id": 50,
                        "name": "Engineering"
                      },
                      "productType": {
                        "id": 3,
                        "name": "Microservice"
                      },
                      "tags": [
                        "backend",
                        "critical",
                        "pci-dss"
                      ],
                      "ownerEmail": "john.smith@company.com",
                      "createdAt": "2024-11-04T15:30:45Z",
                      "updatedAt": "2024-11-04T15:30:45Z",
                      "createdBy": "admin@company.com"
                    }
                  }
                },
                "example": {
                  "id": 999999,
                  "createdAt": 1709251200000,
                  "createdBy": "user@example.com",
                  "updatedAt": 1709251200000,
                  "updatedBy": "user@example.com",
                  "name": "Payment Service",
                  "type": {
                    "id": 159,
                    "name": "Web Application"
                  },
                  "description": "Core payment processing application",
                  "status": "Active",
                  "versionNumber": "2.1",
                  "classType": "Software only",
                  "tier": "1",
                  "publicCloud": true,
                  "internetFacing": true,
                  "complianceRequired": true,
                  "confidentialityRequirement": "High",
                  "confidentiality": "High",
                  "availabilityRequirement": "High",
                  "availability": "High",
                  "attackingVector": "Network",
                  "tags": [
                    "business-impact:critical",
                    "compliance:true",
                    "data-sensitivity:high"
                  ],
                  "riskScore": null,
                  "assetScore": 37.5,
                  "riskCalculationType": "RISKY",
                  "slaTemplateId": 111111,
                  "artifacts": [],
                  "subProductJpaDtos": null,
                  "dependentSubProductJpaDtos": null,
                  "teamDto": {
                    "id": 111111,
                    "name": "Platform Security"
                  },
                  "securityOwner": {
                    "id": 111111,
                    "displayName": "Jane Smith",
                    "email": "user@example.com"
                  },
                  "engineeringOwner": {
                    "id": 111111,
                    "displayName": "John Doe",
                    "email": "user2@example.com"
                  },
                  "businessOwner": {
                    "id": 111111,
                    "displayName": "Alice Johnson",
                    "email": "user3@example.com"
                  },
                  "supportOwner": null,
                  "complianceOwner": null,
                  "confidentialityOptions": "",
                  "otherProperties": null
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "400": {
            "description": "Invalid request or duplicate name",
            "content": {
              "application/json": {
                "examples": {
                  "Duplicate name": {
                    "description": "Duplicate name",
                    "value": {
                      "error": "Bad Request",
                      "message": "Product Name 'Payment Gateway Service' already exists"
                    }
                  },
                  "Invalid product type": {
                    "description": "Invalid product type",
                    "value": {
                      "error": "Bad Request",
                      "message": "Product Type Id is not valid. Please enter a valid Product Type Id !!!"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/user/product/add-mapping/{productId}/{subProductId}": {
      "put": {
        "tags": [
          "Groups"
        ],
        "operationId": "addDependenceyMapping",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "subProductId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/product/add-mapping/{productId}/{subProductId}/{considerRiskScore}": {
      "put": {
        "tags": [
          "Groups"
        ],
        "operationId": "addDependenceyMapping_1",
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "subProductId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "considerRiskScore",
            "in": "path",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/user/knowledgeBase/{id}": {
      "get": {
        "tags": [
          "knowledge-base-controller"
        ],
        "operationId": "findOne",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBaseJpaDto"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "knowledge-base-controller"
        ],
        "operationId": "updateKB",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KnowledgeBaseRequestDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/KnowledgeBaseJpaDto"
                }
              }
            }
          }
        }
      }
    },
    "/user/findings/{findingId}": {
      "get": {
        "tags": [
          "Findings"
        ],
        "summary": "Get detailed information for a specific finding",
        "description": "Retrieves comprehensive details for a single vulnerability finding including\ntechnical details, remediation guidance, affected assets, and historical data.\n\n**Business Context**: Essential for security analysts to understand and remediate vulnerabilities\n\n**Performance Notes**: Includes related data like affected assets and remediation steps\n\nReturns detailed finding information including:\n- Vulnerability description and CVSS scores\n- Affected components and assets\n- Remediation recommendations\n- Historical timeline and state changes\n- Related tickets and comments\n\n**Use Cases**:\n1. Retrieve finding details for security analyst review\n2. Fetch finding data for integration with external ticketing systems\n3. Access finding information for compliance reporting\n\n**Important**: Results scoped by user's business unit and team access",
        "operationId": "describeFinding",
        "parameters": [
          {
            "name": "findingId",
            "in": "path",
            "description": "Unique identifier of the finding to retrieve",
            "required": true,
            "schema": {
              "minimum": 1,
              "type": "integer",
              "format": "int64"
            },
            "example": 12345
          }
        ],
        "responses": {
          "404": {
            "description": "Finding not found",
            "content": {
              "application/json": {
                "examples": {
                  "Finding not found": {
                    "description": "Finding not found",
                    "value": {
                      "error": "Finding with ID 12345 not found in the system"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenError"
          },
          "200": {
            "description": "Finding details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DescribeFindingResponse"
                },
                "examples": {
                  "SQL Injection Finding": {
                    "summary": "Critical SQL injection vulnerability details",
                    "description": "SQL Injection Finding",
                    "value": {
                      "id": 12345,
                      "title": "SQL Injection in User Login",
                      "severity": "CRITICAL",
                      "cvssScore": 9.8,
                      "cvssVector": "CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H",
                      "cveId": "CVE-2023-45678",
                      "status": "OPEN",
                      "category": "Injection",
                      "description": "SQL injection vulnerability found in user authentication endpoint allowing unauthorized database access",
                      "affectedAsset": {
                        "name": "auth-service",
                        "type": "APPLICATION",
                        "environment": "PRODUCTION",
                        "businessCriticality": "HIGH"
                      },
                      "remediationSteps": [
                        "Use parameterized queries",
                        "Implement input validation",
                        "Apply principle of least privilege to database user"
                      ],
                      "foundOn": "2024-01-15T10:30:00Z",
                      "dueDate": "2024-01-22T23:59:59Z",
                      "assignee": "security-team@armorcode.com",
                      "toolSource": "Checkmarx SAST",
                      "filePath": "/src/main/java/auth/LoginController.java",
                      "lineNumber": 145,
                      "riskScore": 850,
                      "exploitabilityScore": 9.2,
                      "businessImpact": "HIGH",
                      "complianceViolations": [
                        "PCI-DSS 6.5.1",
                        "OWASP Top 10 A03"
                      ],
                      "tickets": [
                        {
                          "system": "Jira",
                          "id": "SEC-1234",
                          "status": "IN_PROGRESS"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Findings"
        ],
        "operationId": "updateFindingStatus",
        "parameters": [
          {
            "name": "findingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindingUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      }
    },
    "/user/findings/{findingId}/comment/{commentId}": {
      "put": {
        "tags": [
          "Findings"
        ],
        "operationId": "updateCommentToFinding",
        "parameters": [
          {
            "name": "findingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "commentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FindingCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CollaborationCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/findings/v2/bulk/change-basic-details": {
      "put": {
        "tags": [
          "Findings"
        ],
        "summary": "Bulk update findings status and details",
        "description": "Update one or more findings in bulk. This is the recommended endpoint for updating findings.\n\n**Important**: This endpoint replaces the deprecated `PUT /user/findings/{findingId}`. All finding update operations should use this bulk endpoint.\n\n**Business Context**: Used for modifying finding status, severity, assignments, and creating tickets\n\n**Key Operations**:\n- Change finding status (OPEN, CONFIRMED, IN_PROGRESS, MITIGATED, etc.)\n- Update severity level\n- Assign findings to owners\n- Create linked tickets in Jira, Azure Boards, ServiceNow, etc.\n- Add comments and notes\n- Apply changes to future similar findings with `rulesOnFutureFindingsEnabled`",
        "operationId": "bulkUpdateFindingsV2",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkFindingUpdateStringRequest"
              },
              "examples": {
                "Update Status": {
                  "summary": "Change finding status to IN_PROGRESS",
                  "description": "Update the status of specific findings",
                  "value": {
                    "findingIds": [
                      999999999
                    ],
                    "status": "IN_PROGRESS",
                    "notes": "Investigation started",
                    "findingFilterRequest": {}
                  }
                },
                "Bulk Status Update with Filter": {
                  "summary": "Update all critical findings to CONFIRMED",
                  "description": "Use filters to target multiple findings",
                  "value": {
                    "status": "CONFIRMED",
                    "notes": "Bulk confirmed after security review",
                    "findingFilterRequest": {
                      "filters": {
                        "severity": [
                          "Critical"
                        ],
                        "status": [
                          "OPEN"
                        ]
                      }
                    }
                  }
                },
                "Create Jira Ticket": {
                  "summary": "Create Jira tickets for selected findings",
                  "description": "Creates Jira tickets for findings identified by filter. Uses the ticket integration configured in Settings.",
                  "value": {
                    "createTicket": true,
                    "notes": "Creating ticket for security review",
                    "multiActionTagUpdates": [],
                    "findingFilterRequest": {
                      "filters": {
                        "id_term": [
                          999999999,
                          999999998
                        ]
                      },
                      "ignoreMitigated": null
                    }
                  }
                },
                "Bulk Update With Email Notification Suppressed": {
                  "summary": "Update findings with email notification suppressed",
                  "description": "Perform a bulk update while suppressing owner-change notification emails. Useful for large-scale updates where individual email notifications are not desired.",
                  "value": {
                    "ownerV2": {
                      "value": 12345
                    },
                    "skipOwnerChangeEmail": true,
                    "notes": "Bulk ownership sync - no notification needed",
                    "findingFilterRequest": {
                      "filters": {
                        "id_term": [
                          999999999,
                          999999998
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Findings updated successfully"
          }
        }
      }
    },
    "/user/findings/update": {
      "put": {
        "tags": [
          "Findings"
        ],
        "operationId": "bulkUpdateFindingStatus",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkFindingUpdateStringRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        },
[...]
